@font-face {
    font-family: "VCR_OSD_MONO_1";
    src: url("Assets/VCR_OSD_MONO_1.001.ttf") format("opentype");
}

html {
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000000;

    font-family: "VCR_OSD_MONO_1", sans-serif;
    color: #ffffff;
}

/*-------------------------------------------------------------------------------*/

.TopText {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 30px;
    justify-items: right;

    user-select: none;

    .ScrollingText {
        position: absolute;
        font-size: 30px;

        margin: 0;
        margin-bottom: 5px;

        animation: TopTextAnim 20s linear infinite;
    }

    .Line {
        position: absolute;
        height: 10px;
        width: 100%;
        top: 28px;
        background-color: rgb(189, 189, 189);
    }
}

@keyframes TopTextAnim {
    0% {
        transform: translate(0%, 0);
    }

    100% {
        transform: translate(50%, 0);
    }
}

.TopBar {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 35px;
    top: 35px;

    .PageLabel {
        font-size: 35px;
        margin-left: 5px;
    }

    .NameContainer {
        position: absolute;
        overflow: hidden;
        width: calc(100% - 125px);
        height: 100%;
        left: 110px;
        top: 0px;
    }

    .PageName {
        position: absolute;
        white-space: nowrap;
        font-size: 35px;
        margin-left: 5px;

        animation: PageNameAnim 15s linear infinite;
    }
}

@keyframes PageNameAnim {
    0% {
        transform: translate(0%, 0);
    }

    100% {
        transform: translate(-40%, 0);
    }
}

/*-------------------------------------------------------------------------------*/

.SideMenu {
    position: absolute;
    height: calc(100% - 55px);
    width: 30%;
    margin: 10px;
    top: 33px;

    background-color: #00000000;
    outline: 3px solid #c3c3c3;

    .Title {
        width: 100%;
        height: 30px;
        background-color: #ffffff;
        border-bottom: 3px #c3c3c3 solid;

        font-size: 25px;
        text-indent: 5px;
        padding-top: 4px;

        color: #000000;
    }

    button {
        position: absolute;
        left: 5%;
        width: 90%;
        height: calc(3vw + 4px);
        font-size: 2.5vw;
    }

    .WelcomeButton {
        margin-top: 10px;
    }

    .LatestNewsButton {
        margin-top: 70px;
    }

    .AboutMeButton {
        margin-top: 150px;
    }

    .MusicButton {
        position: absolute;
        height: 5vw;
        width: 5vw;

        left: 5%;
        bottom: 2.5%;

        img {
            margin: -3px;
            width: 4vw;
        }
    }
}

/*-------------------------------------------------------------------------------*/

#Content {
    position: absolute;
    transform-origin: center;

    height: calc(100% - 55px);
    width: calc(70% - 35px);
    right: 0px;
    margin: 10px;
    top: 33px;

    background-color: #00000000;
    outline: 3px solid #c3c3c3;

    .Title {
        width: 100%;
        height: 30px;
        background-color: #ffffff;
        border-bottom: 3px #c3c3c3 solid;

        font-size: 25px;
        text-indent: 5px;
        padding-top: 4px;

        color: #000000;
    }

    iframe {
        height: calc(100% - 37px);
        width: 100%;
    }

}

/*-------------------------------------------------------------------------------*/

button {
    font-family: "VCR_OSD_MONO_1", sans-serif;
    color: #ffffff;

    background: linear-gradient(to bottom, #ffffff75 0%, #00000000 100%);
    border: 3px solid #ffffff;
    border-radius: 5px;
}

button:active {
    background: linear-gradient(to bottom, #4343435b 0%, #00000000 70%, #b1b1b175 100%);
    border: 3px solid #c2c2c2;
}