@font-face {
    font-family: "BuilderSans";
    src: url("Assets/BuilderSans-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #24292e;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Background {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    object-fit: cover;
    z-index: -10;

    opacity: 0.3;
}

.Content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #24292e;
    width: 100%;
    height: 50px;
    align-content: center;
}

main {
    flex: 1;
}


footer {
    background-color: #24292e;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 50px;

    position: relative;
    clear: both;
    bottom: 0;
}

.PagesBar {
    background-color: #353b3f;
    width: 100%;
    height: 40px;

    align-content: center;
}

.PagesBar button {
    appearance: none;
    width: 150px;
    margin-left: 10px;
    background-color: rgb(0, 141, 224);
}

.Post {
    background-color: #353b3f;
    border-radius: 20px;
    overflow: hidden;

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    font-size: 25px;
    font-family: "BuilderSans", sans-serif;
    color: #e1e4e8;
}

h2 {
    font-size: 25px;
    font-family: "BuilderSans", sans-serif;
    color: #e1e4e8;

    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

p {
    font-family: "BuilderSans", sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #e1e4e8;

    margin-left: 15px;
    margin-right: 15px;
}

/*---------------------------------------------------------------------------------------*/

th {
    font-size: 18px;
    font-family: "BuilderSans", sans-serif;
    color: rgba(152, 152, 152, 0.925);

    line-height: 30px;
}

td {
    font-size: 15px;
    font-family: "BuilderSans", sans-serif;
    color: #cbcbcb;

    line-height: 20px;
}

a {
    font-size: 15px;
    font-family: "BuilderSans", sans-serif;
    color: rgb(0, 141, 224);
}

hr {
    height: 2px;
    border: none;
    background-color: rgb(107, 122, 131);
}